<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.curso.tienda.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>TiendaProyecto</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewProducto</display-name>
    <servlet-name>NewProducto</servlet-name>
    <servlet-class>com.curso.tienda.controller.NewProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewProducto</servlet-name>
    <url-pattern>/NewProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusquedaProductos</display-name>
    <servlet-name>BusquedaProductos</servlet-name>
    <servlet-class>com.curso.tienda.controller.BusquedaProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusquedaProductos</servlet-name>
    <url-pattern>/BusquedaProductos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarProducto</display-name>
    <servlet-name>EliminarProducto</servlet-name>
    <servlet-class>com.curso.tienda.controller.EliminarProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarProducto</servlet-name>
    <url-pattern>/EliminarProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarProducto</display-name>
    <servlet-name>ModificarProducto</servlet-name>
    <servlet-class>com.curso.tienda.controller.ModificarProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarProducto</servlet-name>
    <url-pattern>/ModificarProducto</url-pattern>
  </servlet-mapping>
</web-app>