<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Servlet01</display-name>
    <servlet-name>Servlet01</servlet-name>
    <servlet-class>com.curso.Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet01</servlet-name>
    <url-pattern>/Servlet01</url-pattern>
  </servlet-mapping>
  <display-name>01-PrimerEjemplo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletFormulario01</display-name>
    <servlet-name>ServletFormulario01</servlet-name>
    <servlet-class>com.curso.ServletFormulario01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario01</servlet-name>
    <url-pattern>/ServletFormulario01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario02</display-name>
    <servlet-name>ServletFormulario02</servlet-name>
    <servlet-class>com.curso.ServletFormulario02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario02</servlet-name>
    <url-pattern>/ServletFormulario02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFormulario04</display-name>
    <servlet-name>ServletFormulario04</servlet-name>
    <servlet-class>com.curso.ServletFormulario04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormulario04</servlet-name>
    <url-pattern>/ServletFormulario04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletParametros</display-name>
    <servlet-name>ServletParametros</servlet-name>
    <servlet-class>com.curso.ServletParametros</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletParametros</servlet-name>
    <url-pattern>/ServletParametros</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSesiones</display-name>
    <servlet-name>ServletSesiones</servlet-name>
    <servlet-class>com.curso.ServletSesiones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSesiones</servlet-name>
    <url-pattern>/ServletSesiones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSesionProducto</display-name>
    <servlet-name>ServletSesionProducto</servlet-name>
    <servlet-class>com.curso.ServletSesionProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSesionProducto</servlet-name>
    <url-pattern>/ServletSesionProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.curso.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletBienvenida</display-name>
    <servlet-name>ServletBienvenida</servlet-name>
    <servlet-class>com.curso.ServletBienvenida</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBienvenida</servlet-name>
    <url-pattern>/ServletBienvenida</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletBuscador</display-name>
    <servlet-name>ServletBuscador</servlet-name>
    <servlet-class>com.curso.ServletBuscador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBuscador</servlet-name>
    <url-pattern>/ServletBuscador</url-pattern>
  </servlet-mapping>
</web-app>